<div class="wheel-wrap">
  <div class="pointer"></div>
  <svg
    class="wheel"
    [class.spinning]="spinning"
    [attr.viewBox]="'0 0 ' + svgSize + ' ' + svgSize"
    [style.transform]="'rotate(' + rotation + 'deg)'"
  >
    @for (segment of segments; track segment.label; let i = $index) {
      <path
        class="wheel-segment"
        [class.wheel-segment--active]="hoveredIndex === i"
        [attr.d]="segmentPath(i)"
        [attr.fill]="segmentColor(i)"
        (mouseenter)="onSegmentEnter(i)"
        (mouseleave)="onSegmentLeave()"
      ></path>
    }
  </svg>
  <div class="hub">GRIT</div>
</div>
